#header__tip{
    font-family: 'Playfair Display', serif;
}

#header__tip img:hover{
    box-shadow: 5px 5px 6px 0 rgba(245, 245, 248, 0.3);

}


.about h1{
    color: #FFFF;
}
.about p{
    color: #FFFF;
}


.about img{
    margin: 5%;
}




.dadCounter{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.dadCounter button{
    width: 30px;
    
}

.dadCounter p{
    font-size: 20px;
    margin: 15px;
}

#parra{
    color: white;
}

/*ACA EMPIEZA ESTILO DE ITEM DETAIL */

.parentElement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.padre .card{
    background-color: #231E23;
    border: none;
    height: 400px;
}

.card{
    margin: 50px;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.card article{
    background-color: #FFFFFF;
    border: none;
    box-shadow: 2px 2px 6px 0 rgba(255, 0, 0, 0.3);
    border-radius: 20px;
    width: 400px;
    height: 100%;
    transition: transform .3s;
}

.card article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0 rgba(255, 0, 0, 0.3);
    background-color: #FFFF;
}

.card article img{
    width: 50%;
    height: 40%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card article p{
    margin: 50px 50px ;
    font-size: 20px;
}
/*TERMINA ESTILO DE ITEM DETAIL*/



/*DETAIL*/
.padre .cardTwo{
    background-color: #231E23;
    border: none;
    height: auto;
}

.cardTwo{
    margin: 50px;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.cardTwo article{
    background-color: #FFFFFF;
    border: none;
    box-shadow: 2px 2px 6px 0 rgba(255, 0, 0, 0.3);
    border-radius: 20px;
    width: 400px;
    height: 100%;
    transition: transform .3s;
}

.cardTwo article img{
    width: 50%;
    height: 40%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.dadCounter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 20px 20px 125px;
}


.dadCounter button:hover{
    background-color: #A8DADC;
    color: #000000;

}

#btn2{
    width: 100%;
}
#btn2:hover{
    background-color: #A8DADC;
    color: #000000;
    cursor: pointer;
}


.text{
    padding: 5px;
    
}button{
    color: #000000;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    
}

.text h1{
    font-size: 30px;
}

/*TERMINA DETAIL*/






@media (max-width: 768px){
    .card{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:500px){
    .card{
        grid-template-columns: repeat(1,1fr);
    }
    
    .card article{
        text-align: center;
    }
}




.carrito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 0px 40%;
    border-radius: 2%;
    background: #FFFF;
    
    
}



.itemCart img{
    width: 30%;
    margin: 5px;
}button:hover{
        background-color:#C80808;
        color: black;
    }   



.formu{
    margin: 10px;
    border: none;
    background: #F2EDED;
    
}



/*
.itemCart{
    display: flex;
    flex-direction: column;
    background-color: #FFFF;
    margin: 50px;
    border-radius: 20px;
}
.itemCart p{
    background-color: #FFFF;
    color: black;
    font-weight: 600;
    height: auto;
}

.itemCart img{
    width: 100%;
}

.carrito{
    margin: 0 600px;
    width: 20%;
    height: 100%;
}
*/

.Home{
    color: #FFF;
    
}

#comprar{
    width: 50%;
}



html{
    background-color: #231E23;
}